
.card__like-btn {
    background-image: url("../../../images/like.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    min-width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    transition: opacity 200ms;

}

.card__delete-btn {
    background-image: url("../../../images/delete.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    min-width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    transition: opacity 200ms;
}

.card-btn:hover {
    opacity: 0.5;
}