.promo {
    padding: 0 40px 0;
    margin: auto;
}

.promo__container {
    border-radius: 10px;
    padding: 160px 0 40px;
    margin: 0 auto 16px;
    max-width: 1200px;
    background: #F5F5F5;
}

.promo__title {
    max-width: 730px;
    font-size: 50px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: -0.04em;
    margin: 0 auto 161px;
    font-weight: normal;
}

@media screen and (max-width: 768px) {
    .promo
    {
        max-width: 728px;
        padding: 0 20px 0;
    }

    .promo__title {
        max-width: 680px;
        font-size: 40px;
        line-height: 1.3;
        margin-bottom: 314px;
    }
}


@media screen and (max-width: 375px) {
    .promo
    {
        max-width: 292px;
        padding: 0 14px 0;
    }
    .promo__title {
        font-size: 29px;
        margin-bottom: 217px;
    }
}